/* الخط الأساسي والاتجاه */
body {
  font-family: "Tahoma", sans-serif;
  direction: rtl;
  margin: 0;
  padding: 0;
  background-color: #f3f4f6;
}

/* تحسين الـ scroll */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #9ca3af;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}
